body {
    background: rgb(129,94,255);
    background: radial-gradient(circle, rgba(129,94,255,1) 0%, rgba(148,187,233,1) 100%);
}

.form {
    background-color: #ffffff;
    border-radius: 5px;
    max-width: 345px; 
    margin: 20vh auto 0 auto;
    padding: 20px 20px 20px 20px;
}

.formHeader {
    margin-bottom: 15px;
    font-size: 20px;
}

.btn {
    background-color: rgb(129,94,255);
    border-color: rgb(129,94,255);
    font-size: 20px;
    width: 100%;
}

.btn:hover {
    background-color: rgb(147, 117, 255);
    border-color: rgb(147, 117, 255);
}

.formFooter {
    margin-top: 15px;
}